Host *
    KeepAlive yes
    Compression yes
    ControlPath ~/.ssh/control/%r.%h.%p
    ControlMaster auto
    ServerAliveInterval 30
    Ciphers blowfish-cbc,arcfour256,aes256-cbc,aes256-ctr
    MACs hmac-sha2-512,hmac-sha2-256,hmac-ripemd160
